/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-image:url('http://66.media.tumblr.com/e79a6708d82e6881b10390eeac3a2a43/tumblr_np8a3suPuj1uwq78ro1_1280.png');
	background-repeat:repeat;
	background-size: 30%;

}

#main_content {
	margin-left: 15%;
	margin-right: 30%;
	/*background: rgba(10%,0%,0%,0.04);*/

}

.post_wrapper {
		padding: 10px;
		border-bottom: 1px solid #d6dce0;
		}
#header {
		padding: 10px;

	border-bottom: 1px solid #d6dce0;
}

#field {
	
}
#footer {
	padding: 30px;
}

